body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.container {
    width: 700px;
    margin: 30px auto;
}

input[type='text'] {
    margin: 1rem;
    background: #fff;
    font-size: 1.3rem;
    border: none;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
            box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    border-radius: 3px;
    padding: 0 2rem;
    width: calc(100% - 2rem);
    height: 4rem;
}

/* ##### NamesList ##### */
ul {
    padding: 0;
}

li {
    position: relative;
    list-style: none;
    display: inline-block;
    padding: 0.25rem 0.75rem;
    margin: 2px;
    border-radius: 3px;
    background: #a0cfee;
    color: #16527a;
}

li:hover {
    cursor: pointer;
    background: #8bc4ea;
}

li.selected {
    background: #ffc6e5;
    color: #940050;
}

li.selected:hover {
    background: #ffadd9;
}

/* ##### Favourites ##### */
.favourites li:hover:before {
    content: '\00D7';
    position: absolute;
    top: -0.5rem;
    right: -0.3rem;
    width: 1rem;
    height: 1rem;
    z-index: 2;
    text-align: center;
    line-height: 1;
    font-size: 0.9rem;
    vertical-align: middle;
    border-radius: 50%;
    background: #ff6347;
    border: solid 2px #fff;
    color: #fff;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.3);
            box-shadow: 0 0 6px rgba(0,0,0,0.3);
}
.favourites h4 {
    padding: 1rem 0;
    font-weight: 400;
    font-size: 1.3rem;
    margin: 0;
    color: #b3b3b3;
}
.favourites hr {
    border-bottom: 0;
    border-top: solid 1px #e6e6e6;
    margin: 1.75rem 0;
}